/* styles.css */
/* Style for the top section (nourishnet label) */
.label-nourishnet-title {
    -fx-font-size: 4em;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0); /* Shadow effect */
}

.label-profile-name-text {
    -fx-font-size: 1.5em;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0); /* Shadow effect */
}

/* Style for the profile buttons */
.button-profile {
    -fx-background-color: #ACB7AB; /* Panel colour */
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-font-size: 1.2em;
   
}


/* Style for the login button */
.button-login {
    -fx-background-color: #87CEFA; /* Light blue */
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-font-size: 1.2em;
}

/* Style for the password input field */
.password-field {
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}

/* Style for the grid */
.grid-background {
    -fx-background-color: rgba(255, 255, 255, 0.8); /* Background with transparency */
    -fx-padding: 20;
}

/* Style for the highlight effect */
.image-highlight {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 10, 0, 0, 0);
}

.password-field-error {
    -fx-background-color: red;
}

/* Add hover effect for profile buttons */
.button-profile:hover {
    -fx-scale-x: 1.1; /* Enlarge the button width */
    -fx-scale-y: 1.1; /* Enlarge the button height */
}

.button-profile-clicked {
    -fx-background-insets: 0; /* Remove background insets */
    -fx-pref-width: 150px; /* Adjust width as needed */
    -fx-pref-height: 150px; /* Adjust height as needed */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0); /* Add drop shadow effect */
}

.label-welcome-text {
    -fx-font-size: 48px; /* Adjust font size as needed */
    -fx-font-weight: bold; /* Make the font bold */
    -fx-text-fill: linear-gradient(to right, #ff8a00, #da1b60); /* Define gradient text color */
}

/* Style for the weight slider */
.label {
    -fx-text-fill: black; /* Default text color */
}

.red-label {
    -fx-text-fill: black;
}

.red-label.level-1 {
    -fx-text-fill: #FF6666; /* Light red */
}

.red-label.level-2 {
    -fx-text-fill: #e42c2c; /* Medium red */
}

.red-label.level-3 {
    -fx-text-fill: #e70404; /* Dark red */
}